import java.util.*;
class Main {
  public static void main(String[] args) {
    Scanner scan = new Scanner (System.in);
    System.out.println ("meth i mean math time");
    var suma = 0;
    int res = 0;
    for (var contador =1; contador <=contador++;){
      System.out.println ("write number bitch");
      int res = scan NextLine();
      suma =res+suma
    }
    if (suma>=50) {
        for (var contador2 = 1; contador2 <=5 contador2++){
          System.out.println("wow poggers")
        }

      }
      if (suma <=50){
        for (var contador3 =1; contador<=10 contador3++){
          System.out.println ("answer is "+ contador);
          System.out.println ("i think")
        }
      }
  }
}  
